@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");
@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");
.boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.button {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: black;
  border: solid 1px gray;
  padding: 10px;
  border-radius: 20px;
  background-image: radial-gradient(circle 827px at 47.3% 48%, white 0%, #8ac0d8 90%);
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  text-decoration: none;
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.button:hover {
  background-color: #4F4F8F;
  -webkit-box-shadow: 6px 6px 15px -3px rgba(0, 0, 0, 0.45);
  box-shadow: 6px 6px 15px -3px rgba(0, 0, 0, 0.45);
  color: #1c1c1d;
  border: none;
}

.btn-reporte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-color: #4F4F8F;
  border-radius: 5px;
  color: #4F4F8F;
  background-color: white;
  width: 120px;
  height: 50px;
}

.btn-reporte i {
  font-size: 30px;
  margin-right: 5px;
}

.btn-reporte:hover {
  color: white;
  background-color: #4F4F8F;
  border-color: white;
  cursor: pointer;
}

.ela-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-bottom: 1rem;
}

.ela-select select {
  display: block;
  height: 2rem;
  width: 16.5rem;
  border: solid 2px #4F4F8F;
  border-radius: 5px;
  color: #4F4F8F;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
  border-radius: 3px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titulo {
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 10px;
}

.subtitulo {
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 30px;
}

.objetivo {
  margin-bottom: 20px;
  font-family: "Noto Sans", sans-serif;
}

.descripcion {
  margin-bottom: 20px;
  font-family: "Noto Sans", sans-serif;
}

.descripcion p {
  margin-bottom: 10px;
}

.descripcion ol {
  padding-left: 20px;
  list-style: none;
}

.descripcion ol li {
  padding-bottom: 10px;
  counter-increment: my-awesome-counter;
}

.descripcion ol li::before {
  content: counter(my-awesome-counter);
  background: #4f4f8f;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  color: white;
  text-align: center;
  margin-right: 0.5rem;
}

.descripcion ol ol ol li::before {
  background: #de51ff;
}

.descripcion ol ol ol ol li::before {
  background: #ee9eff;
}

.back img {
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

header {
  background: url("/assets/navbar.png") top center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

header .titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: white;
}

header .titulo p {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}

header .logo-udec img {
  height: 100px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin-right: 30px;
}

header ul li {
  margin-left: 20px;
}

header ul li a {
  color: #424141;
  text-decoration: none;
}

header ul li a:hover {
  color: black;
}

.hero {
  height: 100vh;
  background: url("/assets/back2.jpg") no-repeat;
  background-size: cover;
  background-position: top;
}

.hero .flag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.hero .flag .logo-udec img {
  height: 100px;
}

.hero .flag .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.hero .flag .nav ul li {
  margin-right: 40px;
}

.hero .flag .nav ul li a {
  text-decoration: none;
  color: white;
}

.hero .flag .nav ul li a:hover {
  text-decoration: underline;
}

.hero .flag .nav ul li a i {
  margin-left: 10px;
}

.hero .flag .nav ul li:last-child {
  margin: 0;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.hero .flag .nav ul li:last-child a {
  text-decoration: none;
}

.hero .flag .nav ul li:last-child:hover {
  background-color: white;
}

.hero .flag .nav ul li:last-child:hover a {
  color: #313131;
}

.hero .titulo {
  color: white;
  padding-top: 7rem;
}

.hero .titulo h1 {
  font-size: 35px;
}

.hero .titulo p {
  font-size: 15px;
  padding-top: 20px;
}

.hero .scroll {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .scroll i {
  font-size: 40px;
  margin-right: 20px;
}

.app-section {
  padding: 5rem 0;
}

.app-section .apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app-section .apps .app-box {
  border-radius: 3px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  /* do not grow   - initial value: 0 */
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* do not shrink - initial value: 1 */
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  height: 220px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(230, 230, 238, 0.75);
  color: white;
}

.app-section .apps .app-box hr {
  color: black;
}

.app-section .apps .app-box .titulo-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1.5px dashed #3a3939;
  padding-bottom: 5px;
}

.app-section .apps .app-box .titulo-app img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.app-section .apps .app-box .titulo-app h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  color: #2c2c2c;
}

.app-section .apps .app-box .nombre-app {
  color: #0a0a0a;
  padding: 15px;
  text-align: center;
}

.app-section .apps .app-box .nombre-app span {
  font-weight: bold;
  font-size: 18px;
  color: #333333;
}

.app-section .apps .app-box p {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
}

.encuesta-section {
  background-color: #4f4f8f;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
}

.encuesta-section .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info {
  padding: 100px 0;
}

.info .titulo {
  padding-bottom: 10px;
}

.info .informacion {
  margin-bottom: 3rem;
  line-height: 40px;
  font-size: 20px;
}

.info .informacion p {
  padding-bottom: 20px;
}

.info .informacion span {
  font-weight: 600;
}

.info .points span {
  font-size: 20px;
  font-weight: 600;
}

.info .points ul {
  list-style-type: none;
}

.info .points ul li {
  margin-top: 30px;
  border: solid 1px;
  border-radius: 10px;
  padding: 2rem;
  font-size: 18px;
  color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .points ul li img {
  width: 100px;
  margin-right: 20px;
  border-right: 1px solid gray;
  padding-right: 20px;
}

.app-container {
  height: 87vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3] 20rem;
      grid-template-columns: repeat(3, 1fr) 20rem;
  -ms-grid-rows: 4.5rem (1fr)[2];
      grid-template-rows: 4.5rem repeat(2, 1fr);
      grid-template-areas: "box3 box3 box3 box2" "box3 box3 box3 box2" "box3 box3 box3 box2";
  font-family: 'Noto Sans', sans-serif;
}

.app-container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container .sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  grid-area: box2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

.app-container .sidebar h2 {
  font-size: 18px;
  font-weight: 300;
  color: #535353;
}

.app-container .sidebar ul {
  list-style-type: none;
  font-size: 13px;
  font-weight: bold;
}

.app-container .map {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: box3;
  border-right: solid #b9b7b7 1px;
  overflow: hidden;
  height: auto;
}

.app-container .float {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 30px;
  left: 40px;
  background-color: #4F4F8F;
  color: #FFF;
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 3px #252525;
          box-shadow: 2px 2px 3px #252525;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-container .float i {
  padding-top: 18px;
}

.sidebar {
  overflow: auto;
}

.sidebar .banner {
  background-color: #4f4f8f;
  color: white;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 0;
  height: 5rem;
}

.sidebar .banner img {
  width: 70px;
  margin: 0 10px;
}

.sidebar .banner .app-title h1 {
  font-size: 14px;
}

.sidebar .banner .app-title span {
  font-size: 13px;
  font-weight: 200;
}

.sidebar .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.sidebar .titulo h1 {
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.sidebar .descargas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 15px;
}

.sidebar .guia ol {
  padding: 20px;
  font-size: 14px;
  color: #3b3a3a;
  list-style: none;
  counter-reset: item;
}

.sidebar .guia ol li {
  counter-increment: item;
  margin-bottom: 2rem;
}

.sidebar .guia ol li:before {
  margin-right: 10px;
  content: counter(item);
  background: #4F4F8F;
  border-radius: 100%;
  color: white;
  width: 1.1rem;
  text-align: center;
  display: inline-block;
}

.acordion {
  font-size: 10px;
}

.lista li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
  font-size: 12px;
}

.lista span {
  margin-left: 5px;
  font-weight: 300;
}

.lista i {
  font-size: 15px;
  margin-right: 5px;
}

.lista i:hover {
  color: #565688;
}

.ela-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ela-select span {
  margin-bottom: 1rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}
/*# sourceMappingURL=index.css.map */